html {
}

body {
  font-family: "Raleway", sans-serif;
}

:host {
  height: 100%;
}

header {
  height: 50px;
  background-color: #0f0003;
}

main {
  padding: 16px;
}

.open-dialog-trigger {
  all: unset;
  cursor: pointer;
  width: 140px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #8184af;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
